.App {
  background-color: #66676d;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Share Tech Mono", monospace;
}

.navbar-dark {
  background-color: #66676d;
  background-image: linear-gradient(to right, #1a1a1b, #66676d);
  margin-bottom: 2rem;
  min-height: 6rem;
}

nav {
  height: 90px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 1);
}

.my-logo,
.navbar-brand img {
  height: 80px;
  width: 150px;
  margin: 10px center;
  border-radius: 50%;
}

.name {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  font-family: "Share Tech Mono", monospace;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}

.statement {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  animation-duration: 3.5s;
  animation-fill-mode: backwards;
}
.profile-pic {
  border-radius: 40%;
  margin: auto;
  display: block;
  height: 400px;
  align-items: center;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

.my-info {
  display: flex;
  margin: 50px 400px 400px 400px;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}
.about-me {
  display: flex;
  margin: 50px 200px 400px 200px;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
  /* font-size: larger; */
}
.experience-info {
  display: flex;
  margin: 50px 400px 70px 400px;
  border-bottom: solid;
}
.about-info {
  display: flex;
  margin: 50px 400px 70px 400px;
  border-bottom: solid;
}
.job-links {
  font-size: large;
  font-weight: bold;
  margin-left: 150px;
}

.job-links li:hover {
  color: black;
}
.jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px 70px 300px;
  height: 300px;
}
.jobs li {
  font-size: large;
  font-weight: bold;
}

.slide-in-left {
  opacity: 0;
  animation: slide-in-left ease-in-out 3.5s forwards;
}

.slide-in-right-delayed {
  opacity: 0;
  animation: slide-in-right ease-in-out 3.5s forwards;
}
.slide-in-left-delayed {
  opacity: 0;
  animation: slide-in-left ease-in-out 3.5s forwards;
}

@keyframes slide-in-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.footer-links a {
  color: white;
}

.footer-links a:hover {
  color: black;
}

.contact-link:hover {
  color: black !important;
  text-decoration: underline;
}

.contact-link {
  color: white !important;
  text-decoration: underline;
}

.resume {
  font-weight: bold !important;
  height: 50px;
  width: 100px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: solid 2px !important;
  border-color: black !important;
}

.site-footer {
  background-color: #66676d;
  color: black;
  background-image: linear-gradient(to right, #1a1a1b, #66676d);
  margin-bottom: 1rem;
  height: 170px;
  width: 100%;
  margin-top: 600px;
  display: flexbox;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 1);
}

.nucamp {
  margin: 200px 80px 200px -100px;
  display: block;
  height: 300px;
  align-items: center;
}

.junk {
  display: block;
  height: 300px;
  margin: 200px 80px 200px -100px;
  align-items: center;
}

.fredmeyer {
  display: block;
  height: 300px;
  align-items: center;
  margin: 60px 100px 70px -100px;
}
.derick-newton {
  display: block;
  height: 350px;
  align-items: center;
  margin: 100px 500px 100px -100px;
}

.nucamp img {
  width: 200px;
  height: 200px;
}
.junk img {
  width: 500px;
  height: 200px;
}
.fredmeyer img {
  width: 400px;
  height: 100px;
}
.derick-newton img {
  border-radius: 50%;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.logo-section h2,
.logo-section img {
  margin: 0;
}

.nucamp {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1.5s ease-in; /* Apply transition effect */
}

.nucamp.active {
  opacity: 1; /* Set opacity to 1 for active cards */
}

.nucamp.fade-out {
  animation: fadeAnimation 1.5s ease-in; /* Apply fade-in animation */
}
.junk {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1.5s ease-in; /* Apply transition effect */
}

.junk.active {
  opacity: 1; /* Set opacity to 1 for active cards */
}

.junk.fade-out {
  animation: fadeAnimation 1.5s ease-in; /* Apply fade-in animation */
}
.fredmeyer {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1.5s ease-in; /* Apply transition effect */
}

.fredmeyer.active {
  opacity: 1; /* Set opacity to 1 for active cards */
}

.fredmeyer.fade-out {
  animation: fadeAnimation 1.5s ease-in; /* Apply fade-in animation */
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 75px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-block a {
  display: block;
  margin-bottom: 30px;
}

.logo-block img {
  width: 75px;
  height: 75px;
}

.certificates {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.certificates ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.certificates li {
  margin-bottom: 10px;
}

.certificates a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.certificates a:hover {
  background-color: #333;
  color: #fff;
}
