.App {
  background-color: #66676d;
}

body {
  font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
  font-family: "Share Tech Mono", monospace;
}

.navbar-dark {
  background-color: #66676d;
  background-image: linear-gradient(to right, #1a1a1b, #66676d);
  margin-bottom: 2rem;
  min-height: 6rem;
}

nav {
  height: 90px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 1);
}

.my-logo,
.navbar-brand img {
  height: 80px;
  width: 150px;
  margin: 10px center;
  border-radius: 50%;
}

.name {
  text-align: center;
  font-size: 100px;
  font-family: "Share Tech Mono", monospace;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.slide-in-left {
  opacity: 0;
  animation-name: slide-in-left;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.statement {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.footer-links a {
  color: white;
}

.footer-links a:hover {
  color: black;
}

.contact-link:hover {
  color: black !important;
  text-decoration: underline;
}

.contact-link {
  color: white !important;
  text-decoration: underline;
}

.site-footer {
  background-color: #66676d;
  color: black;
  background-image: linear-gradient(to right, #1a1a1b, #66676d);
  margin-bottom: 2rem;
  height: 300px;
  width: 100%;
  display: flexbox;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 1);
}
